<div class="card"><%= image_tag @post.pic, class: "card-img-top" %></div>
<p><%= @post.caption %></p>
<%= link_to @post.user.email, @post.user %>
<% if current_user == @post.user %>
  <%= button_to "Delete", @post, method: :delete %>
  <%= button_to "Edit This Post", "/posts/#{@post.id}/edit", :method => "get" %>
<%end%>
